apiVersion: v1
kind: Service
metadata:
  name: my-mongodb
spec:
  ports:
    - port: 27017
      targetPort: 27017
  selector:
    app: mongodb
---
apiVersion: apps/v1
kind: StatefulSet # <-- Đổi sang StatefulSet
metadata:
  name: my-mongodb
spec:
  serviceName: "my-mongodb"
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:6.0
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          value: "root"
        - name: MONGO_INITDB_ROOT_PASSWORD
          value: "bigdataproject"
        volumeMounts:      # <-- Gắn ổ cứng
        - name: mongo-data
          mountPath: /data/db
  volumeClaimTemplates:    # <-- Yêu cầu cấp ổ cứng
  - metadata:
      name: mongo-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 5Gi